* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #FF9A4B;
  height: 50px;
}

.list {
  background-color:#FF9A4B;
  color: white;
  top: 0;
  left: 0;
  position: absolute;
  padding: 3px;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.main-box {
  width: 300px;
  background-color: #EEEEEE;
  position: relative;
  padding: 10px;
  margin-right: 30px;
}

.img1 {
  background-image: url(../chapter9/img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
  }

.img2 {
  background-image: url(../chapter9/img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.img3 {
  background-image: url(../chapter9/img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}



h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}


footer {
  width: 100%;
  background-color: #AAAAAA;
  height: 50px;
}

.img1,
.img2,
.img3 {
  width: 100%;
}

@media screen and (max-width:768px){
  header {
    width: 100%;
  }
  
  main {
    width: 100%;
    display: block;
    
    }

  .main-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
 
  footer {
    width: 100%;
  }
}